In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('calc_logs.csv')
display(df)

                     timestamp       key input_type
0   2021-05-22 17:21:58.910491         5   KEYBOARD
1   2021-05-22 17:21:59.035443         6   KEYBOARD
2   2021-05-22 17:21:59.395909         *   KEYBOARD
3   2021-05-22 17:22:00.292914         5   KEYBOARD
4   2021-05-22 17:22:00.399913         6   KEYBOARD
..                         ...       ...        ...
60  2021-05-22 17:22:51.138903         3   KEYBOARD
61  2021-05-22 17:22:51.884905  Evaluate   KEYBOARD
62  2021-05-22 17:22:53.079925         /   KEYBOARD
63  2021-05-22 17:22:53.331907         4   KEYBOARD
64  2021-05-22 17:22:53.640894  Evaluate   KEYBOARD

[65 rows x 3 columns]

In [36]:
input_blocks = []
last_time = datetime.min
start_row = None
current_list = []

for row in df.iterrows():
    current_time = row[1]['timestamp']
    
    if start_row == None:
        start_row = row
        
    current_time = datetime.strptime(current_time, "%Y-%m-%d %H:%M:%S.%f")
        
    timedelta = current_time - last_time
    
    if timedelta.seconds > 1:
        input_blocks.append(current_list.copy())
        current_list.clear()
        current_list.append(row)
        
    else:
        current_list.append(row)
        
    last_time = current_time
    
print(input_blocks[5])

[(35, timestamp     2021-05-22 17:22:29.944929
key                                Clear
input_type                        BUTTON
Name: 35, dtype: object), (36, timestamp     2021-05-22 17:22:30.754494
key                                    9
input_type                        BUTTON
Name: 36, dtype: object), (37, timestamp     2021-05-22 17:22:31.216909
key                                    8
input_type                        BUTTON
Name: 37, dtype: object), (38, timestamp     2021-05-22 17:22:32.230897
key                                    /
input_type                        BUTTON
Name: 38, dtype: object), (39, timestamp     2021-05-22 17:22:32.558898
key                                    5
input_type                        BUTTON
Name: 39, dtype: object), (40, timestamp     2021-05-22 17:22:32.897894
key                                    6
input_type                        BUTTON
Name: 40, dtype: object), (41, timestamp     2021-05-22 17:22:33.214913
key                                    2
input_type                        BUTTON
Name: 41, dtype: object), (42, timestamp     2021-05-22 17:22:33.511912
key                                    5
input_type                        BUTTON
Name: 42, dtype: object), (43, timestamp     2021-05-22 17:22:33.991915
key                                    -
input_type                        BUTTON
Name: 43, dtype: object), (44, timestamp     2021-05-22 17:22:34.270499
key                                    3
input_type                        BUTTON
Name: 44, dtype: object), (45, timestamp     2021-05-22 17:22:34.508492
key                                    2
input_type                        BUTTON
Name: 45, dtype: object), (46, timestamp     2021-05-22 17:22:35.715894
key                                    8
input_type                        BUTTON
Name: 46, dtype: object), (47, timestamp     2021-05-22 17:22:36.289878
key                                    +
input_type                        BUTTON
Name: 47, dtype: object), (48, timestamp     2021-05-22 17:22:36.773899
key                                    3
input_type                        BUTTON
Name: 48, dtype: object), (49, timestamp     2021-05-22 17:22:37.714902
key                            Backspace
input_type                        BUTTON
Name: 49, dtype: object), (50, timestamp     2021-05-22 17:22:37.971921
key                            Backspace
input_type                        BUTTON
Name: 50, dtype: object), (51, timestamp     2021-05-22 17:22:38.172878
key                            Backspace
input_type                        BUTTON
Name: 51, dtype: object), (52, timestamp     2021-05-22 17:22:39.078492
key                             Evaluate
input_type                        BUTTON
Name: 52, dtype: object), (53, timestamp     2021-05-22 17:22:40.535899
key                                Clear
input_type                        BUTTON
Name: 53, dtype: object)]